@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400&display=swap');

body {
    font-family: "Catamaran", sans-serif;
    margin: 0;
}

header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 3em;
    background-color: #26a269;
    color: #ffffff;
}

.intro {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    font-size: 1.3em;
}

.disclaimer {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.title {
    text-align: center;
    padding-top: 3%;
    color: #26a269;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
} 

.row {
    display: flex;
    padding: 2%;
    text-align: center;
    font-size: 1.4em;
}
  
.column {
    flex: 33.33%;
    padding: 2%;
}

 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

   /* unvisited link */
a:link {
    color:#26a269;
  }
  
  /* visited link */
  a:visited {
    color:#26a269;
  }
  
  /* mouse over link */
  a:hover {
    color: #26a269;
  }
  
  /* selected link */
  a:active {
    color:#26a269;
  } 

  hr.top {
    margin-top: 10%;
    border: 1px dotted #26a269;
    border-radius: 1px;
    width: 70%;
  }

  hr.bottom {
    margin-top: 3%;
    border: 1px dotted #26a269;
    border-radius: 1px;
    width: 70%;
  }